@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--primary-color: #F6AD8D;
--accent-color: #FEF0E7;
--primary-button-color: #5A8A60;
--text-color: #2C3E50;
--secondary-text-color: #bbbbbb;
--header-height: 160px
}

body {
    @apply overflow-hidden
}

.active {
    @apply w-full transform transition duration-1000 scale-0
}
