@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--primary-color: #F6AD8D;
--accent-color:   #CD4748;
--accent-color-2:   #47714D;
--primary-button-color: #5A8A60;
--text-color: #2C3E50;
--secondary-text-color: #e2e2e2;
--header-height: 160px
}

body {
    @apply md:overflow-hidden text-[var(--text-color)]
}

.active {
    @apply w-full transform transition duration-1000 scale-0
}
