@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--primary-color: #22C55E;
--accent-color: #22C55E;
--primary-button-color: #22C55E;
}

.active {
    @apply w-full transform transition duration-1000 scale-0
}
